<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\dashboard.css">
    <title>TIJORIKHATA DASHBOARD</title>
</head>
<body>
    <div class="Headingbox">
        <div class="Contentsection">
            <h1 class="Heading1">"Effortless Transactions,<br>Like Leaves in the Wind! 🍂"</h1>
            <div class="Heading2"><h3>TIJORI<br>KHATA</h3></div>
        </div>
    </div>
    <div class="Registerbox">
            <h2 class="text1">HELLO {{username}}!</h2>
        </form>
    </div>
</body>
</html>