<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\login.css">
    <title>TIJORIKHATA LOGIN</title>
</head>
<body>
    <div class="Headingbox">
        <div class="Contentsection">
            <h1 class="Heading1">"Effortless Transactions,<br>Like Leaves in the Wind! 🍂"</h1>
            <div class="Heading2"><h3>TIJORI<br>KHATA</h3></div>
        </div>
    </div>
    <div class="Registerbox">
        <form class="Registersection" action="/login" method="POST">
            <h2 class="text1">LOGIN ACCOUNT</h2>
            <h2 class="text2"><b>DON'T HAVE AN ACCOUNT? CREATE IT</b></h2>
            <input type="text" class="form" placeholder="EMAIL" name="email" style="margin-top: 0px;" required>
            <input type="password" class="form" placeholder="PASSWORD" name="password" required`>
            <button type="submit" class="submitbutton">LOGIN</button>
        </form>
    </div>
</body>
</html>