<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIJORIKHATA</title>
    <link rel="stylesheet" href="\static\MainPage.css">
    <script src="https://kit.fontawesome.com/beb166c732.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="Navigationbar">
    <div class="Headingbox">
        <div class="Headingsection">
            <h1 class="Heading1">"Effortless Transactions,<br>Like Leaves in the Wind! 🍂"</h1>
            <div class="Heading2"><h3>TIJORI<br>KHATA</h3></div>
        </div>
    </div>
    <div class="Navigationbox">
        <a href="{{url_for('register')}}"><button type="submit" class="button" style="margin-left: 0px;">REGISTER</button></a>
        <a href="{{url_for('login')}}"><button type="submit" class="button">LOGIN</button></a>
        <button type="submit" class="button">HELP</button>
        <button type="submit" class="button">ABOUT</button>
        <button type="submit" class="button">SOCIAL</button>
    </div>
    <div class="Mobilebox">
        <a href="tel:7814926760"><i class="fa fa-solid fa-phone" style="color: rgb(255, 77, 0); font-size: 23px;"></i></a>
        <h2 class="MobileNo">7814926760</h2>
    </div>
    </nav>
    <div class="Section1">
        <div class="Contentbox">
            <h2 class="text1">One platform for all your business needs</h2>
            <div class="Contentsection">
                <h3 class="text2" style="margin-left: 0px;">Manage Digital<br>Bahi Khata</h3>
                <h3 class="text2" style=" color: rgb(255, 0, 0); font-size: 47px;">&nbsp;|&nbsp;</h3>
                <h3 class="text2">Send Payment Reminders for<br>easy collection</h3>
            </div>
        </div>
        <img src="\static\MainPage.jpg" class="image">
    </div>
</body>
</html>